<br />
<br />
<br />

<div class="row col-12 bg-light justify-content-evenly" id="leftColumn">

  <div class="col-6 justify-content-center">
    <h6 class="row text-underline text-center"><u>Monthly Budget</u></h6>

    <form id="budgetForm" class="col-12 bg-light p-3 my-3">
      <div class="row mt-3">
        <label class="col-6 col-sm-6">Enter Monthly Budget:</label>
        <input
          class="col-6 col-sm-4 bg-light border border-light text-end"
          placeholder="0000.00"
          id="userBudget"
        />

        <div class="w-100 d-none d-md-block mb-2 pb-2">

          <button
            id="setBudget"
            type="button"
            class="col-4 col-sm-2 offset-md-8 mt-3 btn btn-primary"
          >Submit</button>
        </div>
      </div>
    </form>
    {{! End of monthly Budget Row }}

    <h6 class="row justify-content-center text-underline text-center"><u>Enter
        Expenses</u></h6>

    <form id="budgetForm" class="col-12 bg-light p-3 my-3">
      <div class="row mt-3">
        <select class="col-6 col-sm-5 m-2">
          <option value>Housing</option>
          <option>Gas</option>
          <option>Food</option>
          <option>Misc.</option>
        </select>
        <input
          class="col-6 col-sm-4 bg-light border border-light offset-md-1 text-end"
          placeholder="0000.00"
        />

        <div class="w-100 d-none d-md-block mb-2 pb-2">

          <button
            type="button"
            class="col-4 col-sm-2 offset-md-8 mt-3 btn btn-primary"
          >Submit</button>
        </div>
      </div>
    </form>

  </div>

</div>

<script src="/js/form.js"></script>