<body >
  <div class="position-absolute top-50 start-50 translate-middle">
  <h3 class="text-center">We are Budget Buddy</h3>
  <h5 class="text-center">Come with us on your next financial journey</h5>
  
<div class="container mx-auto" style="width: 200px;">
  <div class="row justify-content-center align-items-center ">
    <form>
      <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" id="loginBtn" class="btn btn-secondary btn-md">Login</button>
          
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" id="signUpBtn" class="btn btn-secondary btn-md">Sign Up</button>
          
    </div>
  </div>
</nav>
  </header>


  <main class="container container-fluid mt-5">
    {{{ body }}}
   {{{body}}}
  </main>
  <footer>

