<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    <script src="script.js" defer></script>
  </head>
<body>
  <div id="content"></div>

  <!-- Handlebars Template -->
  <script id="login-template" type="text/x-handlebars-template">
  <h1>Login</h1>

  <img src="../Images/2023-11-30_19-09-12.png" alt="" style="border: 5px inset black;"> 
      
<form class="login-form">
  <div class="form-group"> 
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>
  </script>


<script id="user-template" type="text">
<h1>Welcome, {{email}}!</h1>
</script>

<script src="/js/login.js"></script>


