<br/>
<br/>
<br/>


  

  <div class="col-12 justify-content-center bg-light" id="rightColumn">
     <h6
        class="row align-items-end justify-content-center text-center mb-3">
        <u>Monthly Expenses</u>
      </h6>
      <aside class="displayBlock fs-5">
        <div class="row mt-2">
          <label class="col-5 text-center">
            Housing:
          </label>
          <label class="col-5 text-center">
          
          </label>
        </div>
        <div class="row mt-2">
         <label class="col-5 text-center">
            Gas:
          </label>
         <label class="col-5 text-center">
            
          </label>
        </div>
        <div class="row mt-2">
         <label class="col-5 text-center">
            Food:
          </label>
         <label class="col-5 text-center">
            
          </label>
        </div>
        <div class="row mt-2">
         <label class="col-5 text-center">
            Misc:
          </label>
          <label class="col-5 text-center">
            
          </label>
        </div>

      </aside>
    <form
      id="macroForm"
      class="col-12 bg-light text-center p-3 pb-4 my-3"
    >
      <h4
        class="row justify-content-center  text-center mb-3">
        <u>Over / Under</u>
      </h4>
      <div class="row text-center">
        <label class="col-6 fs-5 col-sm-6 ">Desired Budget:</label>
        <label
          id="setAmt"
          class="col-6 fs-5 col-sm-4"
          placeholder="0000.00"
        ></label>
      </div>

      <div class="row">
        <label class="col-6 fs-5 col-sm-6">Remaining Balance:</label>
        <label
          id="diffAmt"
          class="col-6 fs-5 col-sm-4"
          placeholder="0000.00"
        ></label>
      </div>
    </form>

    {{! End of right column }}
  </div>

  {{! Page div }}
</div>