<br>
<h2>Sign Up</h2>
 <br> 
      <img src="../Images/2023-11-30_19-09-12.png" alt="" style="border: 5px inset black;"> 
      
<form class="form signUp-form">
  <div class="form-group">
    <label for="email-signUp">Email:</label>
    <input class="form-signUp" type="text" id="email-signUp" />
  </div>
  <div class="form-group">
    <label for="password-signUp">Enter password:</label>
    <input class="form-input" type="password" id="password-signUp" />
    <label for="password-signUp-confirm">Confirm password:</label>
    <input class="form-input" type="password" id="password-signUp-confirm" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/login.js"></script>

